@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&family=Allura&family=Montserrat:wght@300;400&display=swap');

.restaurant-hero {
    position: relative;
    height: 87vh;
    width: 100%;
    background-image: url("/sw.jpg");
    filter: blur(10);
    /* wooden / dark image */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    text-align: center;
    color: #f5f5f5;
    z-index: 2;
}

.small-top {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    font-size: 13px;
    margin-bottom: 15px;
    opacity: 0.9;
    word-spacing: 5px;
}

.main-heading {
    font-family: 'Cinzel', serif;
    font-size: 84px;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: 2px;
    color: #fff;
}

.script-text {
    font-family: 'Allura', cursive;
    font-size: 32px;
    margin-top: 10px;
    opacity: 0.9;
    word-spacing: 10px;
    color: #fff;
}

.bottom-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    letter-spacing: 2px;
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
}
