html, body, #root {
    height: auto !important;
    min-height: 100% !important;
    overflow-y: auto !important;
    display: block !important;
  }
  
  * {
    scroll-behavior: auto !important;
  }
  